<h2>Add a new Language</h2>
<form action="/languages" method="post">
  <label>Language: </label>
  <input type="text" name="name"><br><br>

  <input type="radio" id="beginner"
           name="level" value="Beginner">
  <label for="beginner">Beginner</label><br>
  <input type="radio" id="elementary"
           name="level" value="Elementary">
  <label for="elementary">Elementary</label><br>
  <input type="radio" id="intermediate"
           name="level" value="Intermediate">
  <label for="intermediate">Intermediate</label><br>
  <input type="radio" id="advanced"
           name="level" value="Advanced">
  <label for="advanced">Advanced</label><br>
  <input type="radio" id="native"
           name="level" value="Native">
  <label for="native">Native</label><br><br>

  <label>Experience: </label><br>
  <textarea rows="16" cols="80" type="text" name="exp" placeholder="Tell us your expiriences with this language..."></textarea><br />

  <input type="submit" value="Add Language">

    



</form>
