<h2>Other Users</h2>


  <% @users.each do |user| %>
     <%if user != Helpers.current_user(session) %>
       <p><a href="/users/<%= user.id %>"><%= user.username %></a> </p>

    <% end %>
  <% end %>
