<div class="container">
  <header></header>
  <div class="col-md-8 col-md-offset-2">
    <h1>Welcome to LingoVault!</h1>

    <h3><a href="/login">Log In</a> or <a href="/signup">Sign Up</a></h3>
    

  </div>
</div>
